src/main/resources/api/schemas/ItemLocDesc.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.oracle.com/retail/integration/base/bo/ItemLocDesc/v1" xmlns:CustFlexAttriVo="http://www.oracle.com/retail/integration/base/bo/CustFlexAttriVo/v1" xmlns:retailDoc="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.oracle.com/retail/integration/base/bo/ItemLocDesc/v1" version="1.1">
   <retailDoc:annotation>
      <retailDoc:documentation>This is root element of this document which contains name space definitions for the document elements.</retailDoc:documentation>
   </retailDoc:annotation>
   <xs:import namespace="http://www.oracle.com/retail/integration/base/bo/CustFlexAttriVo/v1" schemaLocation="../../../../base/bo/CustFlexAttriVo/v1/CustFlexAttriVo.xsd">
      <retailDoc:annotation>
         <retailDoc:documentation>It's a referenced element. For detailed description, please refer referenced element doc.</retailDoc:documentation>
      </retailDoc:annotation>
   </xs:import>
   <xs:element name="ItemLocVirt">
      <retailDoc:annotation>
         <retailDoc:documentation>Description is not available.</retailDoc:documentation>
      </retailDoc:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element name="loc" type="number10">
               <retailDoc:annotation>
                  <retailDoc:documentation>Location where the item is to be found. This field may contain a store or a warehouse.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element name="loc_type" type="varchar21">
               <retailDoc:annotation>
                  <retailDoc:documentation>Type of location in the "loc" field. Valid values are 'S' (store) and 'W' (warehouse).</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element name="local_item_desc" type="varchar2250">
               <retailDoc:annotation>
                  <retailDoc:documentation>NA</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="local_short_desc" type="varchar2120">
               <retailDoc:annotation>
                  <retailDoc:documentation>Not Yet Available</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element name="status" type="varchar21">
               <retailDoc:annotation>
                  <retailDoc:documentation>Current status of the item at the store (valid values are 'A' (active), 'I' (inactive), 'C' (discontinued) and 'D' (deleted).</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="primary_supp" type="number10">
               <retailDoc:annotation>
                  <retailDoc:documentation>Not Yet Available</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="primary_cntry" type="varchar23">
               <retailDoc:annotation>
                  <retailDoc:documentation>Contains the origin country which will be considered the primary country for the item/location.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="receive_as_type" type="varchar21">
               <retailDoc:annotation>
                  <retailDoc:documentation>Determines whether the stock on hand for a pack component item or the buyer pack itself will be updated when a buyer pack is received at a warehouse. Valid values are 'E'ach or 'P'ack.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element name="taxable_ind" type="varchar21">
               <retailDoc:annotation>
                  <retailDoc:documentation>Indicates whether the item is taxable at the store. Valid values are 'Y' (yes) and 'N' (No).</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="source_method" type="varchar21">
               <retailDoc:annotation>
                  <retailDoc:documentation>Determines the source method for a requested item at a store. Valid values: 'W'(warehouse) and 'S'(supplier), default value is 'S'.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="source_wh" type="number10">
               <retailDoc:annotation>
                  <retailDoc:documentation>If the source_method is 'W', this field contains the source warehouse for fulfilling item requests at a store.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="unit_retail" type="number20_4">
               <retailDoc:annotation>
                  <retailDoc:documentation>Unit retail of the item in the selling Unit of Measure. Only published for create not modify.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="selling_unit_retail" type="number20_4">
               <retailDoc:annotation>
                  <retailDoc:documentation>Selling unit retail in selling unit of measure. Only published for create, not update</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="selling_uom" type="varchar24">
               <retailDoc:annotation>
                  <retailDoc:documentation>Selling Unit of measure. Only published for Create not update.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="store_price_ind" type="varchar21">
               <retailDoc:annotation>
                  <retailDoc:documentation>Indicates if the location can modify the item's price.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="purchase_type" type="varchar26">
               <retailDoc:annotation>
                  <retailDoc:documentation>Purchase Type</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="uin_type" type="varchar26">
               <retailDoc:annotation>
                  <retailDoc:documentation>This attribute will contain the type of the unique identification number (UIN) used to identify instances of the item at the location. Valid values for this attribute should be user-definable on the RMS code tables. This attribute should be nullable.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="uin_label" type="varchar26">
               <retailDoc:annotation>
                  <retailDoc:documentation>This attribute will contain the label for the UIN when displayed in SIM. Valid values should be user-definable on the RMS code tables. This attribute should be nullable but a value is required when a UIN Type is specified.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="capture_time" type="varchar26">
               <retailDoc:annotation>
                  <retailDoc:documentation>This attribute will indicate when the UIN should be captured for an item during transaction processing. There are 2 valid values for this field which should be stored on the RMS code tables: Sale and Store Receiving. This attribute should be nullable.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="ext_uin_ind" type="varchar21">
               <retailDoc:annotation>
                  <retailDoc:documentation>This Yes/No indicator indicates if UIN is being generated in the external system (e.g. SIM). This value will always be N (no) when the Capture Time attribute is set to Sale.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element name="ranged_ind" type="varchar21">
               <retailDoc:annotation>
                  <retailDoc:documentation>An indicator to differentiate between user ranged locations and RMS program ranged locations. Values are 'Y' or 'N'.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="CustFlexAttriVo:CustFlexAttriVo">
               <retailDoc:annotation>
                  <retailDoc:documentation>References a collection of customer flexible attributes.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="item_parent" type="varchar225">
               <retailDoc:annotation>
                  <retailDoc:documentation>ID identifies the item/group at the level above the item. This value must exist as an item in another row on the item_master table.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="item_grandparent" type="varchar225">
               <retailDoc:annotation>
                  <retailDoc:documentation>ID identifies the item/group two levels above the item. This value must exist as both an item and an item parent in another row on the item_master table.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="ti" type="number12_4">
               <retailDoc:annotation>
                  <retailDoc:documentation>Number of shipping units (cases) that make up one tier of a pallet.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="hi" type="number12_4">
               <retailDoc:annotation>
                  <retailDoc:documentation>Number of tiers that make up a complete pallet (height).</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="store_ord_mult" type="varchar21">
               <retailDoc:annotation>
                  <retailDoc:documentation>This column contains the multiple in which the item needs to be shipped from a warehouse to the location.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="daily_waste_pct" type="number12_4">
               <retailDoc:annotation>
                  <retailDoc:documentation>Average percentage lost from inventory on a daily basis due to natural wastage.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="meas_of_each" type="number12_4">
               <retailDoc:annotation>
                  <retailDoc:documentation>Size of an each in terms of the uom_of_price. For example 12 oz. Used in ticketing.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="meas_of_price" type="number12_4">
               <retailDoc:annotation>
                  <retailDoc:documentation>Size to be used on the ticket in terms of the uom_of_price.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="uom_of_price" type="varchar24">
               <retailDoc:annotation>
                  <retailDoc:documentation>Unit of measure that will be used on the ticket for this item.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="primary_variant" type="varchar225">
               <retailDoc:annotation>
                  <retailDoc:documentation>This field is used to address sales of PLUs (i.e. above transaction level items) when inventory is tracked at a lower level (i.e. UPC). This field will only contain a value for items one level higher than the transaction level.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="primary_cost_pack" type="varchar225">
               <retailDoc:annotation>
                  <retailDoc:documentation>This field contains an item number that is a simple pack containing the item in the item column for this record. If populated, the cost of the future cost table will be driven from the simple pack and the deals and cost changes for the simple pack.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="inbound_handling_days" type="number2">
               <retailDoc:annotation>
                  <retailDoc:documentation>This field indicates the number of inbound handling days for an item at a warehouse type location.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="regular_unit_retail" type="number20_4">
               <retailDoc:annotation>
                  <retailDoc:documentation>This field holds the unit retail in the standard unit of measure for the item/location (zone) combination. This field is stored in the local currency.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="multi_units" type="number12_4">
               <retailDoc:annotation>
                  <retailDoc:documentation>This field contains the multi-units for the item/location (zone) combination.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="multi_unit_retail" type="number20_4">
               <retailDoc:annotation>
                  <retailDoc:documentation>This field holds the multi-unit retail in the multi-selling unit of measure for the item/location (zone) combination. This field is stored in teh local currency.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="multi_selling_uom" type="varchar24">
               <retailDoc:annotation>
                  <retailDoc:documentation>This field holds the selling unit of measure for this item/location (zone) combinations multi-unit retail.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="clear_ind" type="varchar21">
               <retailDoc:annotation>
                  <retailDoc:documentation>"Indicates if item is on clearance at the store. Valid values are: Y = Yes, the item is on clearance N = No, the item is not on clearance".</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="costing_loc" type="number10">
               <retailDoc:annotation>
                  <retailDoc:documentation>Numeric identifier of the costing location for the franchise store.This field may contain a store or a warehouse.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="costing_loc_type" type="varchar21">
               <retailDoc:annotation>
                  <retailDoc:documentation>This field holds the type of costing location in the costing location field.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="currency_code" type="varchar23">
               <retailDoc:annotation>
                  <retailDoc:documentation>This field contains the currency code under which the store/wh operates.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="launch_date" type="xs:dateTime">
               <retailDoc:annotation>
                  <retailDoc:documentation>Holds the date that they item should first be sold at the location.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="qty_key_options" type="varchar26">
               <retailDoc:annotation>
                  <retailDoc:documentation>Determines whether the qty key on a POS should be used for this item at the location.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="manual_price_entry" type="varchar26">
               <retailDoc:annotation>
                  <retailDoc:documentation>Determines whether the price can/should be entered manually on a POS for this item at the location.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="deposit_code" type="varchar26">
               <retailDoc:annotation>
                  <retailDoc:documentation>Indicates whether a deposit is associated with this item at the location.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="food_stamp_ind" type="varchar21">
               <retailDoc:annotation>
                  <retailDoc:documentation>Indicates whether the item is approved for food stamps at the location. This value will be downloaded to the POS.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="wic_ind" type="varchar21">
               <retailDoc:annotation>
                  <retailDoc:documentation>Indicates whether the item is approved for WIC at the location. This value will be downloaded to the POS.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="proportional_tare_pct" type="number12_4">
               <retailDoc:annotation>
                  <retailDoc:documentation>Holds the value associated of the packaging in items sold by weight at the location.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="fixed_tare_value" type="number12_4">
               <retailDoc:annotation>
                  <retailDoc:documentation>Holds the value associated of the packaging in items sold by weight at the location.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="fixed_tare_uom" type="varchar24">
               <retailDoc:annotation>
                  <retailDoc:documentation>Holds the unit of measure value associated with the tare value. The only processing RMS does involving the fixed tare value and UOM is downloading it to the POS.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="reward_eligible_ind" type="varchar21">
               <retailDoc:annotation>
                  <retailDoc:documentation>Holds whether the item is legally valid for various types of bonus point/award programs at the location.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="natl_brand_comp_item" type="varchar225">
               <retailDoc:annotation>
                  <retailDoc:documentation>Holds the nationally branded item to which you would like to compare the current item.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="return_policy" type="varchar26">
               <retailDoc:annotation>
                  <retailDoc:documentation>Holds the return policy for the item at the location. Valid values for this field belong to the code_type RETP.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="stop_sale_ind" type="varchar21">
               <retailDoc:annotation>
                  <retailDoc:documentation>Indicates that sale of the item should be stopped immediately at the location (i.e. in case of recall etc).</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="elect_mtk_clubs" type="varchar26">
               <retailDoc:annotation>
                  <retailDoc:documentation>Holds the code that represents the marketing clubs to which the item belongs at the location.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="report_code" type="varchar26">
               <retailDoc:annotation>
                  <retailDoc:documentation>Code to determine which reports the location should run.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="req_shelf_life_on_selection" type="number4">
               <retailDoc:annotation>
                  <retailDoc:documentation>Holds the required shelf life for an item on receipt in days.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="req_shelf_life_on_receipt" type="number4">
               <retailDoc:annotation>
                  <retailDoc:documentation>Holds the required shelf life for an item on receipt in days.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="store_reorderable_ind" type="varchar21">
               <retailDoc:annotation>
                  <retailDoc:documentation>This field indicates whether the store may re-order the item.This field is required to be either= Y - yes or N - no. The field will default to N.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="rack_size" type="varchar26">
               <retailDoc:annotation>
                  <retailDoc:documentation>Indicates the rack size that should be used for the item. This field is not required. Valid values for the field can be found and defined in the code_type RACK.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="full_pallet_item" type="varchar21">
               <retailDoc:annotation>
                  <retailDoc:documentation>Indicates whether a store must reorder an item in full pallets only.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="in_store_market_basket" type="varchar26">
               <retailDoc:annotation>
                  <retailDoc:documentation>Holds the in store market basket code for this item/location combination. Valid values for the field can be found in the code_type STMB.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="storage_location" type="varchar27">
               <retailDoc:annotation>
                  <retailDoc:documentation>Holds the current storage location or bin number for the item at the location.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="alt_storage_location" type="varchar27">
               <retailDoc:annotation>
                  <retailDoc:documentation>Holds the preferred alternate storage location or bin number for the item at the location.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="refundable_ind" type="varchar21">
               <retailDoc:annotation>
                  <retailDoc:documentation>This field will contain a value of Yes when the item is refundable at the location.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="back_order_ind" type="varchar21">
               <retailDoc:annotation>
                  <retailDoc:documentation>This field will contain a value of Yes when the item can be back ordered to the location.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="promotable_ind" type="varchar21">
               <retailDoc:annotation>
                  <retailDoc:documentation>This field will indicates,if the item can be included on promotions or not.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="unit_cost" type="number20_4">
               <retailDoc:annotation>
                  <retailDoc:documentation>This field contains the current unit cost of the item</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="pickup_lead_time" type="number4">
               <retailDoc:annotation>
                  <retailDoc:documentation>Contains the time it takes to get the item from the Supplier to the Initial Receiving Location.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="cost_uom" type="varchar24">
               <retailDoc:annotation>
                  <retailDoc:documentation>Unit of measure associated with the item cost. It is held to allow costs to be managed in a separate UOM from the standard UOM.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="calculation_basis" type="varchar21">
               <retailDoc:annotation>
                  <retailDoc:documentation>This indicates if the cost for the consignment/concession item will be managed either based on cost per unit or as a percentage of retail. Valid values are C - Cost per Unit, P - Purchase Rate.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="purchase_rate" type="number12_4">
               <retailDoc:annotation>
                  <retailDoc:documentation>This column contains the percentage of the retail price which will determnie the cost paid to the supplier for a consignment or concession item.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="rfid_ind" type="varchar21">
               <retailDoc:annotation>
                  <retailDoc:documentation>This indicates if the item is RFID tagged or not. Valid values are Yes (Y) and No (N).</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="ItemLocVirtRepl">
      <retailDoc:annotation>
         <retailDoc:documentation>Description is not available.</retailDoc:documentation>
      </retailDoc:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element name="loc" type="number10">
               <retailDoc:annotation>
                  <retailDoc:documentation>Location that is on replenishment. Will hold only virtual warehouse in the multi-channel environment.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element name="loc_type" type="varchar21">
               <retailDoc:annotation>
                  <retailDoc:documentation>Contains the type of the location on replenishment. Valid values include 'S'tore, 'W'arehouse.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="primary_repl_supplier" type="number10">
               <retailDoc:annotation>
                  <retailDoc:documentation>Contains the numeric identifier of the supplier from which the specified location will source the replenishment demand for the specified item location. Used for items on Direct to Store/Warehouse or Cross-docked replenishment.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="repl_method" type="varchar26">
               <retailDoc:annotation>
                  <retailDoc:documentation>Contains the character code for the algorithm that will be used to calculate the recommended order quantity for the item location. Valid values include 'C'onstant, 'M'in/Max, 'F'loating point, 'T'ime Supply, 'D'ynamic, 'SO' Store Orders.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="reject_store_order_ind" type="varchar21">
               <retailDoc:annotation>
                  <retailDoc:documentation>Contains an indicator that determines if uploaded store orders should be rejected. If the indicator is 'N', then store orders for all need dates are valid. If 'Y', store orders with needs date on or after the NEXT_DELIVERY_DATE are valid."</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="next_delivery_date" type="xs:dateTime">
               <retailDoc:annotation>
                  <retailDoc:documentation>Contains the next delivery date calculated for the next review cycle. If, for the next review cycle, an order will be created that is calculated to arrive on Thursday, this field will be updated with Thursday's date.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="multiple_runs_per_day_ind" type="varchar21">
               <retailDoc:annotation>
                  <retailDoc:documentation>Indicates if the item-location is replenished multiple times per day.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="ItemLocPhys">
      <retailDoc:annotation>
         <retailDoc:documentation>Description is not available.</retailDoc:documentation>
      </retailDoc:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element name="physical_loc" type="number10">
               <retailDoc:annotation>
                  <retailDoc:documentation>Identifier of the physical location where the item is located.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element name="loc_type" type="varchar21">
               <retailDoc:annotation>
                  <retailDoc:documentation>Type of location in the physical_loc field. Valid values are: S = Store, W = Warehouse, E = Finisher.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="store_type" type="varchar21">
               <retailDoc:annotation>
                  <retailDoc:documentation>Indicates the store type of the physical_loc store. Only populated if loc_type is 'S'. Valid values are: 'C' = company store, 'F' = franchise store.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="stockholding_ind" type="varchar21">
               <retailDoc:annotation>
                  <retailDoc:documentation>Indicates if the physical_loc store is stockholding or not. Only populated if loc_type is 'S'. Valid values are: 'Y' = yes, 'N' = no.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="returnable_ind" type="varchar21">
               <retailDoc:annotation>
                  <retailDoc:documentation>This field will contain a value of Yes when the item can be returned to the location.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="ItemLocVirt">
               <retailDoc:annotation>
                  <retailDoc:documentation>Description is not available.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="ItemLocVirtRepl">
               <retailDoc:annotation>
                  <retailDoc:documentation>Description is not available.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="ItemLocDesc">
      <retailDoc:annotation>
         <retailDoc:documentation>Description is not available.</retailDoc:documentation>
      </retailDoc:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element name="item" type="varchar225">
               <retailDoc:annotation>
                  <retailDoc:documentation>Not Yet Available</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" ref="ItemLocPhys">
               <retailDoc:annotation>
                  <retailDoc:documentation>Description is not available.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
    <xs:element minOccurs="0" name="item_level" type="number1">
               <retailDoc:annotation>
                  <retailDoc:documentation>Number indicating which of the three levels the item resides. The item level determines if the item stands alone or if it is part of a family of related items.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="tran_level" type="number1">
               <retailDoc:annotation>
                  <retailDoc:documentation>Number indicating which of the three levels transactions occur for the item's group. The transaction level is the level at which the item's inventory is tracked in the system.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            </xs:sequence>
      </xs:complexType>
      </xs:element>
   <xs:simpleType name="varchar2250">
      <retailDoc:annotation>
         <retailDoc:documentation>This type can hold a string of max length of 250 characters.</retailDoc:documentation>
      </retailDoc:annotation>
      <xs:restriction base="xs:string">
         <xs:maxLength value="250"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="varchar225">
      <retailDoc:annotation>
         <retailDoc:documentation>This type can hold a string of max length of 25 characters.</retailDoc:documentation>
      </retailDoc:annotation>
      <xs:restriction base="xs:string">
         <xs:maxLength value="25"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="varchar23">
      <retailDoc:annotation>
         <retailDoc:documentation>This type can hold a string of max length of 3 characters.</retailDoc:documentation>
      </retailDoc:annotation>
      <xs:restriction base="xs:string">
         <xs:maxLength value="3"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="varchar2120">
      <retailDoc:annotation>
         <retailDoc:documentation>This type can hold a string of max length of 120 characters.</retailDoc:documentation>
      </retailDoc:annotation>
      <xs:restriction base="xs:string">
         <xs:maxLength value="120"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="varchar26">
      <retailDoc:annotation>
         <retailDoc:documentation>This type can hold a string of max length of 6 characters.</retailDoc:documentation>
      </retailDoc:annotation>
      <xs:restriction base="xs:string">
         <xs:maxLength value="6"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="varchar24">
      <retailDoc:annotation>
         <retailDoc:documentation>This type can hold a string of max length of 4 characters.</retailDoc:documentation>
      </retailDoc:annotation>
      <xs:restriction base="xs:string">
         <xs:maxLength value="4"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="number20_4">
      <retailDoc:annotation>
         <retailDoc:documentation>This type can hold a number of digits count 20 and fraction digit count of 4.</retailDoc:documentation>
      </retailDoc:annotation>
      <xs:restriction base="xs:decimal">
         <xs:totalDigits value="20"/>
         <xs:fractionDigits value="4"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="number10">
      <retailDoc:annotation>
         <retailDoc:documentation>This type can hold a number of digits count 10.</retailDoc:documentation>
      </retailDoc:annotation>
      <xs:restriction base="xs:long">
         <xs:totalDigits value="10"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="varchar21">
      <retailDoc:annotation>
         <retailDoc:documentation>This type can hold a string of max length of 1 characters.</retailDoc:documentation>
      </retailDoc:annotation>
      <xs:restriction base="xs:string">
         <xs:maxLength value="1"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="varchar27">
      <retailDoc:annotation>
         <retailDoc:documentation>This type can hold a string of max length of 7 characters.</retailDoc:documentation>
      </retailDoc:annotation>
      <xs:restriction base="xs:string">
         <xs:maxLength value="7"/>
      </xs:restriction>
   </xs:simpleType>
    <xs:simpleType name="number1">
      <retailDoc:annotation>
         <retailDoc:documentation>This type can hold a number of digits count 1.</retailDoc:documentation>
      </retailDoc:annotation>
      <xs:restriction base="xs:int">
         <xs:totalDigits value="1"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="number2">
      <retailDoc:annotation>
         <retailDoc:documentation>This type can hold a number of digits count 2.</retailDoc:documentation>
      </retailDoc:annotation>
      <xs:restriction base="xs:int">
         <xs:totalDigits value="2"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="number4">
      <retailDoc:annotation>
         <retailDoc:documentation>This type can hold a number of digits count 4.</retailDoc:documentation>
      </retailDoc:annotation>
      <xs:restriction base="xs:int">
         <xs:totalDigits value="4"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="number12_4">
      <retailDoc:annotation>
         <retailDoc:documentation>This type can hold a number of digits count 12 and fraction digit count of 4.</retailDoc:documentation>
      </retailDoc:annotation>
      <xs:restriction base="xs:decimal">
         <xs:totalDigits value="12"/>
         <xs:fractionDigits value="4"/>
      </xs:restriction>
   </xs:simpleType>
</xs:schema>
